body {
	/*background: #1C3E29;*/
	text-align: center;
}

#mainBox {
	padding-top: 2em;
}

#dateInput {

}

#errorFlash {
	margin-top: 2em;
}

.red {
	background: red;
}

.container {
	padding-top: 2em;
	background: white;
}

h1, h2, h3 {
	text-align: center;
}

.subtitle {
	font-size: 1.5em;
	text-transform: uppercase;
}

.left-aligned {
	text-align: left;
}

.center-aligned {
	text-align: center;
}

a {
	text-decoration: none;
}

#generateButton, #copyButton {
	margin: 2em;
}

.tagline {
	font-weight: bold;
}

.footer {
	/*padding-top: 2em;*/
	color: gray;
}

.error {
	color: red;
}

.info {
	color: green;
}

