body {
	/*background: #1C3E29;*/
}

#main-box {
	padding-top: 2em;
	text-align: center;
}

#password-section {
	display: none;
}

.red {
	background: red;
}

.container {
	padding-top: 2em;
	background: white;
}

h1, h2, h3 {
	text-align: center;
}

.subtitle {
	font-size: 1.5em;
	text-transform: uppercase;
}

#date-picker {
	display: none;
}

.centered {
	text-align: center;
}

a {
	text-decoration: none;
}

.tagline {
	text-align: left;
	font-weight: bold;
}

.lefty {
	text-align: left;
}

.footer {
	padding-top: 2em;
}